body {
    margin: 20px 10px;
    padding: 12px ;
    font-family: roboto ;
    box-sizing: border-box;
  }
  .logo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: black;
    text-decoration: underline;
    padding: 45px;
    margin: 20px 0px;
 }  
 .navbar {
    display: flex;
    justify-content: space-between;

}

.ullink {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    align-content: space-between;
    flex-direction: row;

}
.ullink a {
    text-decoration: underline;
    color: black;

}
.ullink a:hover {
           text-decoration: underline;
           color: black;


}

.ullink li {
      font-weight:bold;
      font-size: 12px;
      margin: 20px 0px;
      padding: 45px;
      text-decoration: underline;
      font-family: roboto ;

}
main{
    text-align: center;
    justify-content: center;
    font-family: roboto;
    
}
h2 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;

}

h3{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: wavy;
}

footer div {
    background-color: rgb(255, 255, 255);
  }
 
  .footerline {
    text-align: center;
    padding: 45px 30px;
    font-size: 14px;
    color: #181c2b;
    margin-bottom: 0;
  }
  .footerline a {
    text-decoration: underline;
    color: black;
  }
 
  footer span {
    text-decoration: underline;
    color: #ffffff;
    font-weight: bold;
  }